//--------------------------------------------------------------
// Admin/Fieldmanager style helpers.
//--------------------------------------------------------------

.fm-ad_layers-wrapper .fmjs-remove,
.fm-ad_layers-wrapper .fm-add-another-wrapper {
  display: none;
}

.ad-layers-column-list {
  margin: 0;
  padding: 0;

  li {
    white-space: pre;
  }
}

.fm-ad_layer_ad_units {
  padding-left: 1em;
  position: relative;
}

.fm-ad_layer_ad_units-wrapper {
  .fm-group-label-wrapper {
    border: none;

    &:hover {
      border: none;
    }
  }
}
